<% if message.user == current_user %>
    <div class="outgoing_msg">
        <div class="sent_msg">
            <p><%=message.content%></p>
            <span class="time_date"></span>
        </div>
    </div>
<% else %>
    <div class="incoming_msg">
        <div class="incoming_msg_img"> 
            <% if current_user.avatar.present?%>
                <%= image_tag current_user.avatar.url ,style: 'border-radius: 50%; width: 30px; height: 30px;'%>
              <% else %>
                 <%= image_tag current_user.avatar_link, style: 'border-radius: 50%; width: 30px; height: 30px;'%>
              <% end %>
        </div>

        <div class="received_msg">
            <div class="received_withd_msg">
                <p><%=message.content%></p>
                <span class="time_date"></span>
            </div>
        </div>
    </div>
<% end %>
