// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
    width: 80% !important;
}
.actions .dislike, .actions .like{
  float: right;
}

.actions a.dislike i, .actions a.like i{
    background-size: 35px 35px;
    background-position-y: 17px;
}
.actions a.dislike i {
    background: url(/assets/dislike_button.png) no-repeat scroll center center;
}
.actions a.like i {
    background: url(/assets/like_button.png) no-repeat scroll center center;
}
.actions img {
    margin-bottom: 85px;
    width: 60px;
    height: 60px;
}

#tinderslide .img {
  height: 80%;
}
#advert {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#advert p {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}
#advert a {
  width: 100%;
}
#advert img {
  width: 100%;
  height: 700px;
}
